.deliveryApproved__Table {
  width: 100%;
}

.deliveryApproved__TableHeadRow {
  color: black;
  background-color: rgb(226, 226, 226);
}

.deliveryApproved__TableHeadEntity {
  text-align: center;
  padding: 0.5rem 1rem;
}

.deliveryApproved__TableBodyRow {
  background-color: transparent;
  cursor: default;
}

.deliveryApproved__TableBodyRow:hover {
  background-color: rgb(233, 233, 233);
}

.deliveryApproved__TableBodyEntity {
  text-align: center;
  padding: 0.8rem 1rem;
  justify-self: center;
}

.deliveryApproved__TableBodyEntityImage {
  text-align: center;
  width: 25rem;
  padding: 0.1rem 0.5rem;
  justify-self: center;
}

.deliveryApproved__Pic {
  width: 7%;
  height: 7%;
  object-fit: contain;
}

.deliveryApproved__TableEmpty {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
